<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <!--    <link rel="stylesheet" th:href="@{/css/banner.css}">-->
    <link rel="stylesheet" href="/css/home/studentAllBook.css">
    <title th:text="${user.name} + '님 환영합니다.'"></title>
</head>
<body>
<th:block th:insert="~{booksideDropdownMenu::booksidedropdownmenu}"></th:block>
<th:block th:replace="~{bookheader :: bookheader(pageTitle='전체 교재 목록')}"></th:block>
<div class="container">
    <div class="page1" style="position: absolute; top: 154px; left: 221px; right: 0; padding: 25px 20px; overflow: hidden; min-height: 800px; width: 60%; display: flex; flex-direction: column;">
        <span id="userID" th:text="${user.id}" style="display: none"></span>
        <div id="allBooks">
            <div class="tit_content">
                <img src="/images/bar.jpg" alt="bar" class="bar" style="width: 4px; height:20px;">
                <strong style="padding-left: 10px; font-weight: 800;">전체 교재</strong>
                <p style="font-size: smaller; margin-top: 3px; color: #5d5d5d;">-모든 교재 목록입니다.</p>
            </div>

            <!-- 드롭 다운 메뉴 -->
            <div>
                <label for="department">학과 선택: </label>
                <select id="department" onchange="filterBooks()">
                    <option value="all">전체</option>
                    <!-- 서버 측에서 전달받은 학과 목록을 옵션으로 추가 -->
                    <th:block th:each="department : ${departmentList}">
                        <option th:value="${department.name}" th:text="${department.name}"></option>
                    </th:block>
                </select>
            </div>
            <br>

            <div class="grid grid-cols-4 gap-4">
                <div th:each="book, index : ${bookList}" class="p-4 book">
                    <div class="bookContainer">
                        <strong th:text="${book.subject.name}" style="font-size: 20px;"></strong>
                        <br>
                        <strong th:text="${book.department.name}"></strong>
                        <img class="bookImage" th:src="${book.imageUrl}"width="220" height="320">
                        <br>
                        <strong>가격 : </strong>
                        <strong class="bookPrice" th:text="${book.price}">가격</strong><strong> 원</strong><br>
                        <strong>제목 : </strong>
                        <strong th:text="${#strings.length(book.name) gt 15} ? ${#strings.substring(book.name, 0, 15) + '...'} : ${book.name}">교재명</strong><br>
                        <span>저자 : </span>
                        <span class="author" th:text="${book.author}">저자명</span><br>
                        <span>출판사 : </span>
                        <span th:text="${book.publisher}">출판사명</span><br>
                        <span class="bookID" th:text="${book.id}" style="display: none"></span>
                    </div>
                </div>
            </div>
            <span class="authority" th:text="${user.authority.id}" style="display: none"></span>
        </div>
    </div>
</div>
<th:block th:insert="~{banner::banner}"></th:block>
</body>
<body onload="checkPopupStatus()">

<div id="overlay" class="popup-overlay">
    <div id="popup" class="popup-content">
        <span onclick="closePopup()" style="float:right; cursor:pointer;">&times;</span>
        <h2>남서울대학교 대학서점</h2>
        <div id="popupContent">수강 신청 내역이 변경되었다면 수강 교재 가져오기를 한번 눌러주세요.</div>
        <label><input type="checkbox" id="hidePopupCheckbox"> 오늘 하루 동안 이 창을 닫기</label>
        <button onclick="closePopup()">닫기</button>
    </div>
</div>
</body>

<script>
    var userIDElement = document.getElementById("userID");
    var userID = userIDElement.textContent.trim();
    function openPopup() {
        // 팝업과 배경 레이어 표시
        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closePopup() {
        // 팝업과 배경 레이어 숨김
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';

        // 체크박스의 상태를 확인하여 쿠키를 설정합니다.
        if (document.getElementById('hidePopupCheckbox').checked) {
            setCookie("hidePopup", "true", 1); // 이 경우 1일 동안 쿠키가 유지됩니다.
        }
    }

    function checkPopupStatus() {
        // 페이지 로드 시 팝업 상태를 확인하여 필요에 따라 팝업을 열거나 닫습니다.
        if (getCookie("hidePopup") !== "true") {
            openPopup();
        }
    }

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");
        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
            if (name === cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }
    function setCookie(name, value, days) {
        var expires = "";
        if (days) {
            var date = new Date();
            date.setTime(date.getTime() + (days * 24 * 60 * 60 * 1000));
            expires = "; expires=" + date.toUTCString();
        }
        document.cookie = name + "=" + (value || "") + expires + "; path=/";
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 이미지에 hover하면 덧씌울 이미지와 장바구니 추가 문자열을 보여줍니다.
        var bookImageContainers = document.querySelectorAll('.bookImageContainer');
        bookImageContainers.forEach(function (container) {
            var overlayImage = container.querySelector('.overlayImage');
            var addToCartText = container.querySelector('.addToCartText');
            container.addEventListener('mouseenter', function () {
                overlayImage.style.display = 'block';
                addToCartText.style.display = 'block';
            });
            container.addEventListener('mouseleave', function () {
                overlayImage.style.display = 'none';
                addToCartText.style.display = 'none';
            });
        });
    });


    function submitForm() {
        document.getElementById("dateForm").submit();
    }

    window.onload = function() {
        var receiveDayValue = document.getElementById('receiveDay').innerText;
        var myinfoImg = document.getElementById('myinfoImg');
        if (receiveDayValue === "구매하신 교재가 없습니다.") {
            myinfoImg.style.display = 'none';
        }
    };
    function webscraping() {
        // 추가된 alert 메시지
        alert("수강 교재 정보를 가져오겠습니다.\n웹페이지를 닫지 말고 완료 메시지를 기다려주세요.\n확인을 누르시면 시작합니다.");

        // AJAX 요청 보내기
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/webscraping/" + userID, true);
        document.body.style.pointerEvents = "none";
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("수강 신청 정보 수집이 완료되었습니다!");
                document.body.style.pointerEvents = "auto";
                location.reload();
            }
        };
        xhr.send();
    }
    // 필터링 함수
    function filterBooks() {
        var selectedDepartment = document.getElementById('department').value;
        var books = document.getElementsByClassName('book');

        // 전체를 선택했을 경우 모든 책을 보여줌
        if (selectedDepartment === 'all') {
            for (var i = 0; i < books.length; i++) {
                books[i].style.display = 'block';
            }
            return;
        }

        // 선택된 학과에 해당하는 책만 보여줌
        for (var i = 0; i < books.length; i++) {
            var bookDepartment = books[i].querySelector('strong:nth-of-type(2)').innerText;
            if (bookDepartment.trim() === selectedDepartment.trim()) {
                books[i].style.display = 'block';
            } else {
                books[i].style.display = 'none';
            }
        }
    }

    window.onload = function() {
        var buttons = document.querySelectorAll('.side_drop_down_menu_panel_button');
        var homeButton = null;

        buttons.forEach(function(button) {
            var text = button.querySelector('.side_drop_down_menu_text');
            var icon = button.querySelector('.side_drop_down_menu_icon img');

            if (text.textContent.trim() === '전체 교재') {
                homeButton = button;
                button.style.backgroundColor = 'rgb(0, 54, 121)';
                text.style.color = '#ffffff';
                icon.style.filter = 'brightness(0) invert(1)';
            }

            button.addEventListener('click', function() {
                buttons.forEach(function(btn) {
                    btn.style.backgroundColor = '';
                    btn.querySelector('.side_drop_down_menu_text').style.color = '';
                    btn.querySelector('.side_drop_down_menu_icon img').style.filter = '';
                });

                this.style.backgroundColor = 'rgb(0, 54, 121)';

                this.classList.add('selected');

                this.querySelector('.side_drop_down_menu_text').style.color = '#ffffff';

                this.querySelector('.side_drop_down_menu_icon img').style.filter = 'brightness(0) invert(1)';
            });
        });
    };


    const authorSpans = document.querySelectorAll('.author');

    authorSpans.forEach(authorSpan => {
        const authorNames = authorSpan.textContent.split('^');
        const numNames = authorNames.length;

        if (numNames > 1) {
            const firstAuthor = authorNames[0];
            const otherAuthors = numNames - 1;
            const formattedAuthors = `${firstAuthor} 외 ${otherAuthors}명`;
            authorSpan.textContent = formattedAuthors;
        }
    });

    var price = document.querySelectorAll('.bookPrice');

    const formatter = new Intl.NumberFormat('ko-KR', {
        style: 'decimal',
        currency: 'KRW',
        currencyDisplay: 'symbol' // currencyDisplay 속성을 사용하여 통화 기호 대신에 "원"을 사용합니다.
    });

    price.forEach(price => {
        const formattedValue = formatter.format(price.innerText);
        price.innerText = formattedValue;
    })

    function reload() {
        window.location.href = "/home/bookStore";
    }

    function list() {
        window.location.href = "/bookStore/list";
    }

    function statistics() {
        window.location.href = "/bookStore/Statistics";
    }

    function receipt() {
        window.location.href = "/bookStore/Receipt";
    }

    function myInfoUpdate() {
        window.location.href = "/mypage/myInfoUpdate/bookStore";
    }

    window.onload = function() {
        var buttons = document.querySelectorAll('.side_drop_down_menu_panel_button');
        var homeButton = null;

        buttons.forEach(function(button) {
            var text = button.querySelector('.side_drop_down_menu_text');
            var icon = button.querySelector('.side_drop_down_menu_icon img');

            if (text.textContent.trim() === '전체 교재') {
                homeButton = button;
                button.style.backgroundColor = 'rgb(0, 54, 121)';
                text.style.color = '#ffffff';
                icon.style.filter = 'brightness(0) invert(1)';
            }

            button.addEventListener('click', function() {
                buttons.forEach(function(btn) {
                    btn.style.backgroundColor = '';
                    btn.querySelector('.side_drop_down_menu_text').style.color = '';
                    btn.querySelector('.side_drop_down_menu_icon img').style.filter = '';
                });

                this.style.backgroundColor = 'rgb(0, 54, 121)';

                this.classList.add('selected');

                this.querySelector('.side_drop_down_menu_text').style.color = '#ffffff';

                this.querySelector('.side_drop_down_menu_icon img').style.filter = 'brightness(0) invert(1)';
            });
        });
    };
</script>

</html>