<!-- src/main/resources/templates/bookStore/ReceiptSearch.html -->

<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>검색 결과</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
<th:block th:insert="~{/header::header}"></th:block>
<th:block th:insert="~{/storenav::navfrag}"></th:block>
<div class="container mt-5">
    <h1>검색 결과</h1>
    <button id="printButton" class="btn btn-secondary">인쇄</button>
    <table class="table">
        <thead>
        <tr>
            <th>체크</th>
            <th>학생번호</th>
            <th>이름</th>
            <th>교재명</th>
            <th>출판사명</th>
            <th>저자명</th>
            <th>구매일</th>
            <th>수령예정일</th>
            <th>수령여부</th>
            <th>수령여부변경</th>
            <th>수령날짜</th>
            <style>

                th, td {
                    padding: 8px;
                    text-align: center;
                }
            </style>
        </tr>
        </thead>
        <tbody>
        <tr th:each="receipt : ${receipts}">
            <td>
                <input type="checkbox" th:id="${'check_' + receipt.id}" name="check" th:value="${receipt.id}">
            </td>
            <td><span th:text="${receipt.user.studentId}"></span></td>
            <td><span th:text="${receipt.user.name}"></span></td>
            <td><span th:text="${receipt.book.name}"></span></td>
            <td><span th:text="${receipt.book.publisher}"></span></td>
            <td><span th:text="${receipt.book.author}"></span></td>
            <td><span th:text="${receipt.createdAt}"></span></td>
            <td><span th:text="${receipt.receive.day}"></span></td>
            <td><span th:text="${receipt.receive.receiveCheck}"></span></td>
            <td>
                <form th:action ="@{/bookStore/ReceiptSearch}" method="post">

                    <select name = "check">
                        <option value="Check">수령</option>
                        <option value="NonCheck">미수령</option>
                    </select>
                    <input type="hidden" name="receiptId" th:value="${receipt.id}">
                    <input type="hidden" name="receiveDay" th:value="${receipt.receive.day}">
                    <button type="submit">변경</button>

                </form>
            </td>
            <td><span th:text="${receipt.receive.day}"></span></td>
        </tr>
        </tbody>
    </table>
</div>

<script>
    document.getElementById("printButton").addEventListener("click", function () {
        var selectedRows = document.querySelectorAll('input[name="check"]:checked');
        var selectedData = [];

        selectedRows.forEach(function (row) {
            var receiptId = row.value;
            var receiptData = {
                studentId: "${receipt.user.studentId}",
                name: "${receipt.user.name}",
                bookName: "${receipt.book.name}",
                publisher: "${receipt.book.publisher}",
                author: "${receipt.book.author}",
                purchaseDate: "${receipt.receive.day}",
                receiveDate: "${receipt.receive.day}",
                receiveCheck: "${receipt.receive.receiveCheck}"
            };
            selectedData.push(receiptData);
        });
        window.print();
    });
</script>

</body>
</html>
