<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <link rel="stylesheet" href="/css/mypage/myInfoUpdate.css">
    <script th:src="@{/js/mypage/myInfoUpdate.js}"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <title>내 정보 수정</title>
    <title th:text="${user.name} + '님 환영합니다.'"></title>
</head>
<body>
<th:block th:replace="~{header :: header(pageTitle='내 정보 수정')}"></th:block>
<th:block th:insert="~{sidedropdownmenu::sidedropdownmenu}"></th:block>
<span id="userID" th:text="${user.id}" style="display: none"></span>
<div class="container">
    <div class="page1" style="position: absolute; top: 154px; left: 221px; right: 0; padding: 25px 20px; overflow: hidden; min-height: 800px; width: 60%; flex-direction: column; justify-content: space-around">
        <div class="tit_content">
            <img src="/images/bar.jpg" alt="bar" class="bar" style="width: 4px; height:20px;">
            <strong style="padding-left: 10px; font-weight: bold;">내 정보 수정</strong>
        </div>
        <div id="loadingMessage" style="display: none;">입력하신 계정 정보를 확인 중입니다. 완료 메시지를 기다려주세요.</div>
        <div class="triton_panel triton_responsive"
             style="margin-top: 10px; border-top: 2px solid rgb(8, 72, 151); position: relative; overflow-x: auto;">
            <div class="triton_content" style="width: 100%; min-width: 1000px;">
                <form th:action="@{/mypage/myInfoUpdate/student}" id=verification method="post">
                    <table class="triton_list_table triton_content triton_responsive" cellpadding="0" cellspacing="0"
                           style="width: 100%; border-collapse: separate; vertical-align: middle; border-left: 1px solid rgb(225, 225, 225); border-right: 1px solid rgb(225, 225, 225);">
                        <tbody class="triton_content">
                        <tr class="triton_list_table_row triton_content triton_responsive"
                            style="vertical-align: middle; text-align: center; line-height: 18px; background-color: rgb(255, 255, 255); color: rgb(8, 72, 151); font-size: 13px; font-family: notokr-medium, NanumGothicBold; height: 40px;">
                            <td class="triton_list_table_column triton_content triton_responsive"
                                style="vertical-align: middle; height: 40px; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid rgb(225, 225, 225); background-color: rgb(255, 255, 255); border-right: 1px solid rgb(225, 225, 225);">
                                LMS ID</td>
                            <td class="triton_list_table_column triton_content triton_responsive"
                                style="vertical-align: middle; height: 40px; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid rgb(225, 225, 225); background-color: rgb(255, 255, 255); border-right: 1px solid rgb(225, 225, 225);">
                                LMS PW</td>
                        </tr>
                        <tr class="triton_list_table_row triton_content triton_responsive"
                            style="vertical-align: middle; text-align: center; cursor: default; font-size: 13px; font-family: notokr-regular, NanumGothic; height: 40px; line-height: 18px;">
                            <td class="triton_list_table_column triton_content triton_responsive"
                                style="vertical-align: middle; height: 40px; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid rgb(225, 225, 225);">
                                <input name="studentId" class="triton_text_input triton_content triton_value triton_responsive triton_form" id="studentId"
                                       type="text" placeholder="LMS 아이디를 입력하세요."
                                       style="padding: 0px 10px; width: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 213); color: rgb(93, 93, 93); height: 32px; line-height: 30px; outline: none; box-sizing: border-box; font-size: 13px; font-family: notokr-regular, NanumGothic;">
                            </td>
                            <td class="triton_list_table_column triton_content triton_responsive"
                                style="vertical-align: middle; height: 40px; padding-top: 2px; padding-bottom: 2px; border-bottom: 1px solid rgb(225, 225, 225); border-left: 1px solid rgb(225, 225, 225);">
                                <input name="studentPw" class="triton_text_input triton_content triton_value triton_responsive triton_form" id="studentPw"
                                       type="text" placeholder="LMS 비밀번호를 입력하세요."
                                       style="padding: 0px 10px; width: 250px; background-color: rgb(255, 255, 255); border: 1px solid rgb(215, 215, 213); color: rgb(93, 93, 93); height: 32px; line-height: 30px; outline: none; box-sizing: border-box; font-size: 13px; font-family: notokr-regular, NanumGothic;">
                            </td>
                        </tr>
                        </tbody>
                    </table>
                    <button type="button" onclick="submitForm()" class="triton_flat_button triton_content triton_responsive inited" style="cursor: pointer; display: inline-block; height: 30px; line-height: 30px; font-size: 13px; color: rgb(8, 72, 151); text-align: center; padding: 0px 15px; border: 1px solid rgb(8, 72, 151); border-radius: 10px; font-family: notokr-medium, NanumGothicBold; background-color: rgb(255, 255, 255); margin-top: 10px;">완료</button>
                </form>
            </div>


        </div>
    </div>
</div>
<th:block th:insert="~{banner::banner}"></th:block>
<script>
    var userIDElement = document.getElementById("userID");
    var userID = userIDElement.textContent.trim();
    function mileage() {
        // "마일리지 내역 조회" 버튼 클릭 시 "/mypage/mileage"로 이동
        window.location.href = "/mypage/mileage/" + userID;
    }
    function viewAllBooks() {
        window.location.href = "/home/studentAllBook";
    }
</script>
</body>
</html>