body {
    font-family: Arial, sans-serif;
    margin: 8px;
    padding: 0;

}
.bookCheckBoxContainer {
    margin-right: 10px;
    margin-left: 10px;
}
.bookCheckBox {
    transform: scale(2.5);
}
.textContainer {
    margin-right: auto;
    width: 700px;
    height: 200px;a
    margin-left: 10px;
}
.descriptionContainer {
    display: none;
    margin-right: 120px;
    width: 250px;
    height: 193px;
    word-wrap: break-word;
    overflow: hidden;
    margin-left: 10px;
}
.descriptionButton {
    background-color: #215F9A;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.textContainer > div {
    margin-bottom: 5px;
}
#wrapper {
    min-height: 10vh;
    position: relative;
    overflow-y: auto;
}

.bookList table {
    border-collapse: collapse;
}
.bookList th, .bookList td {
    padding: 10px;
    text-align: left;
}
.bookList {
    min-width: 100%;
    margin: 0 auto; / 중앙 정렬을 위해 자동 마진을 사용합니다. */
}
.bookItem {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.spinner {
    list-style: none;
    border-spacing: 0;
    border-collapse: collapse;
    word-break: break-all;
    word-wrap: break-word;
    text-align: center;
    overflow: hidden;
    vertical-align: middle;
    position: relative;
    display: block;
    background-color: #fff;
    box-sizing: border-box;
    width: 80px;
    padding: 0 26px;
}

.spinner .minus, .plus {
    list-style: none;
    border-spacing: 0;
    border-collapse: collapse;
    line-height: normal;
    vertical-align: middle;
    user-select: none;
    text-decoration: none;
    margin: 0;
    text-align: center;
    position: absolute;
    overflow: hidden;
    display: block;
    top: 0;
    padding-top: 4px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-sizing: border-box;
    cursor: pointer;
    width: 27px;
    height: 30px;
}

.spinner .minus {
    border-right: none;
    border-radius: 4px 0 0 4px;
    left: 0;
}

.spinner .plus {
    border-left: none;
    border-radius: 0 4px 4px 0;
    right: 0;
}
.spinner input[type="number"] {
    list-style: none;
    border-spacing: 0;
    border-collapse: collapse;
    border-radius: 0;
    border: 0;
    background: 0 0;
    width: 100%;
    margin: 0;
    padding: 0 1px 0 0;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    color: #000;
    line-height: 22px;
    letter-spacing: -0.01em;
    outline: 0;
    text-align: center;
    box-sizing: border-box;
    vertical-align: top;
    height: 30px;
    font-size: 12px;
}
.spinner input[type="number"]::-webkit-inner-spin-button,
.spinner input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.book_price {
    list-style: none;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    border-left: 1px solid lightgray;
    align-items: center; /* 가운데 정렬을 위한 속성 추가 */
    justify-content: center;
    height: 100%;
    width: 10%;
}
.book_price .price {
    text-align: center;
}
.price_container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    padding: 12px;
    text-align: center;
}
.book_wrap{
    border-top: 1px solid lightgray;
}
.book_prod {
    border-bottom: 1px solid lightgray;
}
.check {
    width: 5%;
    vertical-align: top;
}

.prod_area {
    display: flex;
    padding-right: 5px;
}
.prod_info1 {
    padding-left: 10px;
}
.prod_info2 {
    width: 12%;
    height: 100%;
    border-left: 1px solid lightgray;
    position: relative;
}
.prod_info2_div {
    height: 100%;
}
.delete {
    position: absolute;
    z-index: 1; /* delete를 다른 요소 위에 표시하기 위해 필요한 경우 z-index 설정 */
    width: 20px;
    height: 20px;
    top: 0;
    right: 0;
}
.description {
    font-size: 12px
}
.descriptionButton {
    width: 80px;
    height: 40px;
    background-color: rgb(0, 54, 121);
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 10px;
}
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding-right: 20px;
    padding-left: 20px;
    padding-top: 20px;
    /*border: 2px solid #000;*/
    z-index: 9999;
    width: 320px;
    height: 143px;
    border-radius: 16px;
}
.popup .dialog_contents {
    text-align: center;
    margin-top: 20px;
}
.btn_confirm {
    width: 80px;
    height: 40px;
    background-color: rgb(0, 54, 121);
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 10px;
    border: none;
}
.btn_cancel {
    width: 80px;
    height: 40px;
    background-color: rgb(128, 128, 128);
    font-size: 24px;
    border-radius: 10px;
    cursor: pointer;
    color: white;
    margin: 10px;
    border: none;
}
.popup .dialog_footer {
    display: flex;
    margin-top: 14px;
    align-items: center;
    justify-content: center;
}

/* Styles for the overlay */
.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 999;
}

.page1 {
    position: absolute;
    top: 154px;
    left: 221px;
    width: 60%;
    padding: 25px 20px;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}
.mileageContainer {
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 15%;
    margin-top: 20px;
    height: 340px;
    position: fixed;
    top: 180px;
    right: 350px;
    transition: top 0.1s ease;
    z-index: 999;
}
.itemBox {
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    width: 75%;
    padding-right: 30px;
}
@media(min-width: 768px) and (max-width: 1280px) {
    .page1 {
        position: absolute;
        top: 154px;
        left: 221px;
        width: 1200px;
        padding: 25px 20px;
        overflow: hidden;
    }
    .mileageContainer {
        border: 1px solid lightgray;
        border-radius: 10px;
        width: 250px;
        margin-top: 20px;
        height: 340px;
        position: fixed;
        top: 180px;
        right: 100px;
        transition: top 0.1s ease;
        z-index: 999;
    }
    .itemBox {
        margin-bottom: 30px;
        display: flex;
        flex-direction: column;
        width: 660px;
        padding-right: 30px;
    }
}

.inputMileagePoint {
    width: 130px;
    text-align: right;
}
.selectReceiveDay {
    width: 136px;
}
.innerMileageContainer0 {
    padding: 20px;
}
.innerMileageContainer1 {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.InfoBox {
    padding-bottom: 20px;
}
.payInfoBox {
    display: flex;
    flex-direction: column;
}
.innerMileageContainer2 {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}
.inputBox {
    padding-left: 20px;
    padding-right: 20px;
}
.inputMileagePointBox {
    padding-bottom: 10px;
}
.innerMileageContainer3 {
    border-top: 1px solid lightgray;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 20px;
}
.calculateBox {
    padding-top: 20px;
    padding-bottom: 20px;
}
.explanation {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}
.real-value {
    display: flex;
    flex-direction: column;
    text-align: right;
    flex-shrink: 0;
}
.payInfoBox {
    flex-shrink: 0;
}
#buyBtn {
    width: 130px;
    height: 40px;
    background-color: rgb(0, 54, 121);
    color: white;
    font-size: 20px;
    border-radius: 10px;
    cursor: pointer;
}
.buyBtn {
    width: 100%;
    display: flex;
    justify-content: center;
}
.side_drop_down_menu_header_element_right_layout {
    margin-top: -1px;
}
.logoImg {
    margin-top: -1px;
}
@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular", serif;
}
.WebTitle {
    margin-bottom: -4px;
}
.descriptionBoxID {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border: 2px solid #000;
    z-index: 9999;
    border-radius: 16px;
    display: flex;
    justify-content: space-around;
}
.closeBtnContainer {
    display: flex;
    justify-content: right;
}
.closeBtn {
    cursor: pointer;
    width: 36px;
    height: 36px;
}
.descBookName {
    margin-top: 10px;
    text-align: center;
    font-size: 5px;
    margin-bottom: 10px;
}
.descBookContent {
    display: flex;
    justify-content: center;
    width: 500px;
    margin: 10px;
}