<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
  <title th:text="${pageTitle}">Default Title</title>
</head>
<th:block th:fragment="header">
  <div class="side_drop_down_menu_header_container"
       style="position:absolute;top:0;left:0;right:0;overflow-x:hidden;">
    <div class="side_drop_down_menu_header_top" style="position:relative;z-index:200;">
      <div class="side_drop_down_menu_header_progress_bar"
           style="display:none;position:absolute;height:3px;left:0;top:0;left:0;right:0;width:100%;">
        <div class="side_drop_down_menu_header_progress"
             style="background:#003679;height:3px;width:0"></div>
      </div>
      <div class="side_drop_down_menu_header_button_tab_bar"
           style="display:none;overflow:auto;line-height:35px;font-size:13px;background-color:#e8e8e8;border-bottom:1px solid #cecece">
        <div class="side_drop_down_menu_header_button_tab_bar_left_section"
             style="float:left;overflow:auto;"></div>
        <div class="side_drop_down_menu_header_button_tab_bar_right_section"
             style="float:right;overflow:auto;"></div>
      </div>
      <div class="side_drop_down_menu_header_status_bar"
           style="overflow: auto;  line-height: 34px; font-size: 13px; background-color: rgb(232, 232, 232); border-bottom: 1px solid rgb(206, 206, 206);">
        <div style="float:left;height:35px;"><img
                class="side_drop_down_menu_header_status_bar_profile_img"
                src="/images/ico_profile.png"
                style="float:left;margin:7px 10px 0 20px;" alt="Profile Image">
          <div class="side_drop_down_menu_header_status_bar_name" style="float: left;">
            <span class="side_drop_down_menu_header_status_bar_name_text" style="font-family: notokr-medium, NanumGothicBold;" th:if="${user != null}" th:text="${user.name + '님 환영합니다.'}"></span>
            <span class="side_drop_down_menu_header_status_bar_name_text" style="font-family: notokr-medium, NanumGothicBold;"
                  th:unless="${user != null}">로그인이 필요합니다.
            </span>
          </div>
          <div class="side_drop_down_menu_header_status_bar_info"
               style="float:left;display:none;"><span
                  style="padding-left:10px;padding-right:10px;">|</span><span
                  class="side_drop_down_menu_header_status_bar_info_text"
                  style="font-family: notokr-medium, NanumGothicBold;"></span></div>
        </div>
        <div style="float:right;overflow:auto;">
          <div class="side_drop_down_menu_header_status_bar_login_info"
               style="height:35px;float:left;padding-right:10px;display:none;"><span
                  style="font-family: notokr-medium, NanumGothicBold;" class="strings"
                  data-lia-string-key="TRITON.HEADER.LAST_LOGGED_IN">최종 로그인</span> <span
                  class="side_drop_down_menu_header_status_bar_login_date">-</span><span
                  class="side_drop_down_menu_header_status_bar_dash" style="display:none;"> /
                                    </span><span class="side_drop_down_menu_header_status_bar_login_ip_address"
                                                 style="display:none;">-</span></div>
          <div id="real_time" class="side_drop_down_menu_header_status_bar_time"
               style="height: 35px; float: left; background-color: rgb(96, 96, 96); color: rgb(255, 255, 255); font-family: notokr-medium, NanumGothicBold; padding-left: 10px; padding-right: 10px; font-size: 14px; border-left: 1px solid rgb(206, 206, 206);">
          </div>
          <div class="side_drop_down_menu_header_status_bar_button button"
               style="display:none;cursor:pointer;height:35px;float:left;background-color:#505050;color:#ffffff;font-family: notokr-medium, NanumGothicBold;padding-left:10px;padding-right:10px;font-size:14px;">
          </div>
        </div>
      </div>
      <div class="side_drop_down_menu_header" style="position:relative;height:73px;background-color:#ffffff;border-bottom:1px solid #cecece;">
        <div class="side_drop_down_menu_header_element_logo"
             style="position:absolute;top:0;width:100%;height:72px;line-height:73px;text-align:center;display:none;">
          <img title="Logo" style="vertical-align:middle;" alt="Logo">
        </div>
        <div class="side_drop_down_menu_header_element_right_layout" style="position:absolute;right:0;top:0;height:73px;line-height:73px;">
          <div class="side_drop_down_menu_header_element_item image_button_container hover inited image_button_container_inited" style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-left: 1px solid rgb(230, 230, 230);">

            <a  th:href="@{/home}" style="padding: 0; background-color: transparent; text-decoration: none;">

              <img src="/images/홈.png" alt="홈 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
            </a>
          </div>
          <div class="side_drop_down_menu_header_element_item image_button_container hover inited image_button_container_inited" style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-left: 1px solid rgb(230, 230, 230);">

            <a href="https://sugang.nsu.ac.kr/" style="text-decoration: none; color: inherit;">
              <img src="/images/수강신청.png" alt="수강신청 페이지 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
            </a>
          </div>
          <div class="side_drop_down_menu_header_element_item image_button_container hover inited image_button_container_inited" style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-left: 1px solid rgb(230, 230, 230);">
            <a  th:href="@{/student/purchase/book}" style="padding: 0; background-color: transparent; text-decoration: none;">
              <img src="/images/카트.png" alt="교재 구매 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
            </a>
          </div>
          <div class="side_drop_down_menu_header_element_item image_button_container hover inited image_button_container_inited" style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-left: 1px solid rgb(230, 230, 230);">
            <a href="https://mypage.nsu.ac.kr/mypage/student" style="text-decoration: none; color: inherit;">
              <img src="/images/LMS.png" alt="LMS 이동 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
            </a>
          </div>
          <div class="side_drop_down_menu_header_element_item image_button_container hover inited image_button_container_inited" style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-left: 1px solid rgb(230, 230, 230);">
            <a sec:authorize="isAnonymous()" th:href="@{/user/login}" method="post" style="text-decoration: none; padding: 0; background-color: transparent;">
              <img src="/images/로그인.png" alt="로그인 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
            </a>

            <form th:action="@{/user/logout}" method="POST" sec:authorize="Authenticated" th:with="user=${user}">
              <a  href="/user/logout" method="post" style="text-decoration: none;">
                <img src="/images/로그아웃.png" alt="로그아웃 아이콘" style="width: 73px; height: 73px; cursor: pointer;">
              </a>
            </form>
          </div>
        </div>
        <!--로고 위치-->
        <div class="side_drop_down_menu_header_element_left_layout" style="position:absolute;left:0;top:0; display: flex; align-items: flex-end;">
          <div class="side_drop_down_menu_header_element_item image_button_container hover side_drop_down_menu_button side_drop_down_menu_header_button inited image_button_container_inited pressed"
               style="float: left; text-align: center; width: 73px; height: 73px; line-height: 73px; border-right: 1px solid rgb(230, 230, 230); background-color: rgb(255, 255, 255);"
               src="/images/logo.png">
            <a class="navbar-brand" th:href="@{/home}">
              <img class="logoImg" src="/images/logo.png" alt="Logo" style="height: 73px; width: 73px; vertical-align: middle;">
            </a>
          </div>
          <strong style="font-size: 18px" class="WebTitle">남서울대학교 대학 서점</strong>
        </div>
      </div>
    </div>
    <div class="side_drop_down_menu_tab_container"
         style="position: relative; height: 44px; left: 221px; width: 100%;">
      <div
              style="position:absolute;top:0;left:0;right:0;height:43px;border-bottom:1px solid #cecece;background-color:#e6e6e6;">
      </div>
      <!-- 현재 위치 표시 -->
      <div th:attr="data-page-title=${pageTitle}"
           style="position:relative;overflow:hidden;top:0;margin-left:15px;margin-right:70px;padding-top:9px;height:35px;">
        <div class="side_drop_down_menu_tab_panel"
             style="position: absolute; width: 2000px; left: 0px;">
          <div class="side_drop_down_menu_tab button side_drop_down_menu_tab_normal inited pressed"
               style="float: left; position: relative; background-color: rgb(255, 255, 255);  font-size: 14px; color: rgb(0, 0, 0); line-height: 33px; height: 34px; border-left: 1px solid rgb(209, 209, 209); border-top: 1px solid rgb(209, 209, 209); border-right: 1px solid rgb(209, 209, 209); border-top-left-radius: 3px; border-top-right-radius: 3px;">
            <div class="side_drop_down_menu_tab_text"
                 style="position: relative; margin-left: 15px; margin-right: 30px; font-weight: 800;"
                 th:text="${pageTitle}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    // 실시간 시간을 업데이트하는 함수
    function updateRealTime() {
      var now = new Date();
      var hours = now.getHours();
      var minutes = now.getMinutes();
      var seconds = now.getSeconds();
      var ampm = hours >= 12 ? 'PM' : 'AM';
      hours = hours % 12;
      hours = hours ? hours : 12; // 0시를 12시로 표시
      minutes = minutes < 10 ? '0' + minutes : minutes;
      seconds = seconds < 10 ? '0' + seconds : seconds;
      var timeString = ampm + ' ' + hours + ':' + minutes + ':' + seconds;

      // 시간을 화면에 업데이트
      document.getElementById('real_time').innerHTML = timeString;
    }

    // 페이지가 로드되면 최초 한 번 시간을 업데이트하고, 그 후 1초마다 업데이트
    updateRealTime();
    setInterval(updateRealTime, 1000);
  </script>
</th:block>

</html>