<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sidedropdownmenu">
    <div id="side_drop_down_menu">
        <div style="position:relative;">
            <!-- 헤더 -->
            <div class="side_drop_down_menu_panel_background"
                 style="position: fixed; z-index: 100; top: 110px; bottom: 0px; border-right: 1px solid rgb(230, 230, 230); width: 220px; left: 0;">
            </div>
            <div class="side_drop_down_menu_panel"
                 style="z-index: 100; position: absolute; border-right: 1px solid rgb(230, 230, 230); border-top: 1px solid rgb(230, 230, 230); width: 211px; background-color: rgb(255, 255, 255); min-height: 45px; left: 0px; top: 101px;">
                <!-- 사이드 네비 -->
                <!--                대시보드-->
                <div class="side_drop_down_menu_panel_button_container" onclick="reload()">
                    <div class="side_drop_down_menu_panel_button button inited" style="cursor:pointer;position: relative; overflow: auto; padding-left: 15px; padding-right: 20px; height: 50px; font-family: notokr-medium, NanumGothicBold; font-size: 15px; border-bottom: 1px solid #ccc;">
                        <div style="padding-top: 14px; float: left; width: 16px; height: 22px; text-align: center; vertical-align: middle; line-height: 22px; padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                            <img src="/images/house.png" style="vertical-align:middle;width:16px; color: #ffffff" alt="top drop down menu text">
                        </div>
                        <a style="float: left; line-height:50px; font-size: 12px;" class="side_drop_down_menu_text">홈</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub" style="background-color:#f2f6fa;display:none;"></div>
                </div>
                <!--                전체 교재 조회-->
                <div class="side_drop_down_menu_panel_button_container" onclick="viewAllBooks()">
                    <div class="side_drop_down_menu_panel_button button inited"
                         style="cursor:pointer; position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                        <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                            <img src="/images/books.png" style="vertical-align:middle; width:16px; padding-top: 16px" alt="top drop down menu text">
                        </div>
                        <a style="padding-top: 9px; float:left;line-height:32px; font-size:14px;" class="side_drop_down_menu_text">전체 교재</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub"
                         style="background-color:#f2f6fa;display:none;"></div>
                </div>
                <!--                수강신청 내역 조회-->
                <div class="side_drop_down_menu_panel_button_container">
                    <div class="side_drop_down_menu_panel_button button inited"
                         style="cursor:pointer;position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                        <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                            <img src="/images/laptop.png" style="vertical-align:middle;width:16px; padding-top: 15px;" alt="top drop down menu text">
                        </div>
                        <a onclick="webscraping()" style="float:left;line-height:50px; font-size:14px;" class="side_drop_down_menu_text">수강 교재 가져오기</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub"
                         style="background-color:#f2f6fa;display:block;"></div>
                </div>
                <!--                마일리지 내역 조회-->
                <div class="side_drop_down_menu_panel_button_container" onclick="mileage()">
                    <div class="side_drop_down_menu_panel_button button inited"
                         style="cursor:pointer; position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                        <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                             class="side_drop_down_menu_icon"><img
                                src="/images/mileage.png"
                                style="vertical-align:middle;width:16px; padding-top: 15px; color: rgb(0,0,0)" alt="top drop down menu text">
                        </div>
                        <a style="float:left;line-height:50px; font-size:14px;" class="side_drop_down_menu_text">마일리지 내역</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub"
                         style="background-color:#f2f6fa;display:none;"></div>
                </div>
                <!--                구매 내역 조회-->
                <div class="side_drop_down_menu_panel_button_container" onclick="receipt()" >
                    <div class="side_drop_down_menu_panel_button button inited"
                         style="cursor:pointer;position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                        <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                             class="side_drop_down_menu_icon"><img
                                src="/images/receipt.png"
                                style="vertical-align:middle;width:16px; padding-top: 15px" alt="top drop down menu text"></div>
                        <a
                                style="float:left;line-height:50px; font-size:14px;"
                                class="side_drop_down_menu_text" >구매 내역</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub"
                         style="background-color:#f2f6fa;display:none;"></div>
                </div>
                <!--                내 정보 수정-->
                <div class="side_drop_down_menu_panel_button_container" onclick="myInfoUpdate()">
                    <div class="side_drop_down_menu_panel_button button inited"
                         style="cursor:pointer;position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                        <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                             class="side_drop_down_menu_icon"><img
                                src="/images/myinfo.png"
                                style="vertical-align:middle;width:16px; padding-top: 15px" alt="top drop down menu text"></div><a
                            style="float:left;line-height:50px; font-size:14px;"
                            class="side_drop_down_menu_text">내 정보 수정</a>
                    </div>
                    <div class="side_drop_down_menu_panel_button_sub"
                         style="background-color:#f2f6fa;display:none;"></div>
                </div>
                <div class="side_drop_down_menu_panel_button_sub" style="background-color:#f2f6fa;display:none;">
                </div>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>