body {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    background-image: url("https://sso.nsu.ac.kr/res/service/img_login/img_bg.png");
}

h1 {
    margin-bottom: 60px;

}

.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 610px;
    height: 300px;
    margin-top: 300px;
    /* border: 1px solid black; */
    background-color: #fff;
    box-shadow: 2px 2px 5px lightgray;


}

#kakaoLogin {
    width: 600px;
    height: 90px;
    background-image: url("https://developers.kakao.com/tool/resource/static/img/button/login/full/ko/kakao_login_large_wide.png");
}