.banner {
    /* position: fixed; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* color: white; */
    /* 글자 색상 */
    text-align: center;
    /* writing-mode: vertical-rl; */
    /*세로 쓰기 모드*/
    font-size: 100px;
    height: 800px;

}

.banner .right {
    border: 2px solid #000000;
    background-color: #4CAF50;
     position: fixed;
     right: 0;
     padding: 30px;  /* 원하는 여백 설정 */
     width: 150px;

}

.banner .left {
    border: 2px solid #000000;
    background-color: #4CAF50;
    position: fixed;
    left: 0;
    padding: 30px; 원하는 여백 설정
    width: 150px;
}