<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <link rel="stylesheet" href="/css/mypage/mileage.css">
    <title th:text="${user.name} + '님 환영합니다.'"></title>
</head>
<body style="margin: 8px;">
<th:block th:insert="~{sideDropdownMenu::sidedropdownmenu}"></th:block>
<th:block th:replace="~{header :: header(pageTitle='마일리지 내역 조회')}"></th:block>
<span id="userID" th:text="${user.id}" style="display: none"></span>
<span class="authority" th:text="${user.authority.id}" style="display: none"></span>
<div class="container">
    <div class="page1"
         style="position: absolute; top: 154px; left: 221px; right: 0; padding: 25px 20px; overflow: hidden; min-height: 800px; width: 60%;  flex-direction: column; justify-content: space-around">
        <div class="tit_content">
            <img src="/images/bar.jpg" alt="bar" class="bar" style="width: 4px; height:20px;">
            <strong style="padding-left: 10px; font-weight: bold;">마일리지 내역</strong>
        </div>
        <div class="notification">사용 가능 마일리지: <span th:text="${mileage}"></span></div>
        <div class="triton_panel triton_responsive"
             style="margin-top: 10px; border-top: 2px solid rgb(8, 72, 151); position: relative; overflow-x: auto;">
            <div class="triton_content">
                <!-- accumulate 출력 -->
                <table class="mileageBox">
                    <tbody class="triton_content">
                    <tr class="mileageList">
                        <td class="mileageDay">
                            날짜
                        </td>
                        <td class="mileagePoint">
                            마일리지
                        </td>
                        <td class="kind">
                            종류
                        </td>
                    </tr>
                    <tr class="history-row" th:each="item, iterStat : ${history}" th:sort="${item.day}">
                        <td class="mileageDay_content"
                            th:text="${#temporals.format(item.day, 'yyyy년 MM월 dd일 HH시 mm분')}">
                        </td>
                        <td class="mileagePoint_content" th:text="${item.point}">
                        </td>
                        <td class="kind_content">
                            <span th:if="${item.point &lt;= 0}">사용</span>
                            <span th:unless="${item.point &lt;= 0}">적립</span>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="pagination"></div>
    </div>
</div>
<th:block th:insert="~{banner::banner}"></th:block>
</body>
<script>
    var rows = document.querySelectorAll('.history-row');
    var rowsPerPage = 10;
    var totalPages = Math.ceil(rows.length / rowsPerPage);
    var currentPage = 1;

    showPage(currentPage);

    function showPage(page) {
        var startIndex = (page - 1) * rowsPerPage;
        var endIndex = startIndex + rowsPerPage;

        rows.forEach(function (row, index) {
            if (index >= startIndex && index < endIndex) {
                row.style.display = 'table-row';
            } else {
                row.style.display = 'none';
            }
        });

        renderPagination(page);
    }

    function renderPagination(currentPage) {
        var pagination = document.querySelector('.pagination');
        pagination.innerHTML = '';

        // 페이지 링크 시작 번호 계산
        var startPage;
        if (currentPage <= 5) {
            startPage = 1;
        } else if (currentPage >= totalPages - 4) {
            startPage = totalPages - 9;
        } else {
            startPage = currentPage - 4;
        }

        // 페이지 링크 끝 번호 계산
        var endPage = Math.min(startPage + 9, totalPages);
        // 이전 버튼
        var prevLink = document.createElement('a');
        prevLink.href = '#';
        prevLink.textContent = '이전';
        prevLink.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage > 1) {
                currentPage--;
                showPage(currentPage);
            }
        });
        pagination.appendChild(prevLink);

        // 페이지 링크
        for (var i = startPage; i <= endPage; i++) {
            var link = document.createElement('a');
            link.href = '#';
            link.textContent = i;

            if (i === currentPage) {
                link.classList.add('active');
            }

            link.addEventListener('click', function (event) {
                event.preventDefault();
                currentPage = parseInt(event.target.textContent);
                showPage(currentPage);
            });

            pagination.appendChild(link);
        }

        // 다음 버튼
        var nextLink = document.createElement('a');
        nextLink.href = '#';
        nextLink.textContent = '다음';
        nextLink.addEventListener('click', function (event) {
            event.preventDefault();
            if (currentPage < totalPages) {
                currentPage++;
                showPage(currentPage);
            }
        });
        pagination.appendChild(nextLink);
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 이미지에 hover하면 덧씌울 이미지와 장바구니 추가 문자열을 보여줍니다.
        var bookImageContainers = document.querySelectorAll('.bookImageContainer');
        bookImageContainers.forEach(function (container) {
            var overlayImage = container.querySelector('.overlayImage');
            var addToCartText = container.querySelector('.addToCartText');
            container.addEventListener('mouseenter', function () {
                overlayImage.style.display = 'block';
                addToCartText.style.display = 'block';
            });
            container.addEventListener('mouseleave', function () {
                overlayImage.style.display = 'none';
                addToCartText.style.display = 'none';
            });
        });
    });

    window.onload = function () {
        var buttons = document.querySelectorAll('.side_drop_down_menu_panel_button');
        var homeButton = null;

        buttons.forEach(function (button) {
            var text = button.querySelector('.side_drop_down_menu_text');
            var icon = button.querySelector('.side_drop_down_menu_icon img');

            if (text.textContent.trim() === '마일리지 내역') {
                homeButton = button;
                button.style.backgroundColor = 'rgb(0, 54, 121)';
                text.style.color = '#ffffff';
                icon.style.filter = 'brightness(0) invert(1)';
            }

            button.addEventListener('click', function () {
                buttons.forEach(function (btn) {
                    btn.style.backgroundColor = '';
                    btn.querySelector('.side_drop_down_menu_text').style.color = '';
                    btn.querySelector('.side_drop_down_menu_icon img').style.filter = '';
                });

                this.style.backgroundColor = 'rgb(0, 54, 121)';

                this.classList.add('selected');

                this.querySelector('.side_drop_down_menu_text').style.color = '#ffffff';

                this.querySelector('.side_drop_down_menu_icon img').style.filter = 'brightness(0) invert(1)';
            });
        });
    };

    function reload() {
        window.location.href = '/home/student';
    }

    function myInfoUpdate() {
        var authorityElement = document.querySelector('.authority');
        console.log(authorityElement);
        if (authorityElement) {
            var authority = parseInt(authorityElement.textContent); // 요소의 내용을 정수형으로 변환하여 가져옴
            console.log(authority);
            // 내 정보 수정 페이지로 이동하는 로직 작성
            if (authority === 1) {
                window.location.href = "/mypage/myInfoUpdate/student";
            } else if (authority === 2) {
                window.location.href = "/mypage/myInfoUpdate/bookStore";
            }
        }
    }

    function receipt() {
        window.location.href = "/student/purchase/receipt";
    }

    function viewAllBooks() {
        window.location.href = "/home/studentAllBook";
    }
    document.addEventListener("DOMContentLoaded", function() {
        var mileageElements = document.querySelectorAll(".mileagePoint_content");

        mileageElements.forEach(function(mileageElement) {
            var mileage = parseInt(mileageElement.textContent);
            var formattedMileage = mileage.toLocaleString();
            mileageElement.textContent = formattedMileage;
        });
    });
</script>
</html>