<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <link rel="stylesheet" th:href="@{/css/student/purchase/book.css}">
    <script th:src="@{/js/student/book.js}"></script>
    <style>
        pre {
            white-space: pre-wrap;
        }
        .thumbnail {
            width: 100px;
            /* Adjust this according to your design */
            height: 100px;
            /* Adjust this according to your design */
            background-size: cover;
            background-position: center;
        }
        .tit_content{
            width: 1600px;
        }
        .bookImage {
            border: 1px solid #000;
        }
        .container {
            display: flex;
            justify-content: space-between;
            /* Adjust spacing between page1 and page2 */
            flex-direction: column;
        }
        .side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_panel_button {
            background: rgb(0, 54, 121);
        }
        .side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_text
        {
            color: #ffffff; /* 텍스트의 색상을 하얀색으로 변경 */
        }
        .side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_icon img {
            filter: brightness(0) invert(1);
        }
        *{
            box-sizing: content-box;
        }
        a {
            text-decoration: none;
        }
    </style>
    <title th:text="${user.name} + '님 환영합니다.'"></title>
</head>
<body>
<th:block th:replace="~{header :: header(pageTitle='장바구니')}"></th:block>
<div class="container">
    <div class="page1">
        <div id="student_info" style="margin-bottom: 30px" class="">
            <div class="tit_content">
                <img src="/images/bar.jpg" alt="bar" class="bar" style="width: 4px; height:20px;">
                <strong style="padding-left: 10px; font-weight: bold;">장바구니</strong>
            </div>
            <form th:action="@{/student/purchase/book}" id="bookFrm" method="POST" enctype="multipart/form-data">
            <div class="bookList">
                <table>
                    <th:block th:each="book : ${bookList}">
                        <tr style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                            <td style="width: calc(50%-10px); margin-bottom: 20px">
                                <div class="grid-container" >
                                    <div class="bookItem">
                                        <div class="bookCheckBoxContainer">
                                            <input type="checkbox" class="bookCheckBox" th:id="'option' + ${book.id}" th:value="${book.id}">
                                        </div>
                                        <img th:src="${book.imageUrl}" alt="Book Image" style="height: 200px; width: 150px;">
                                        <div class="textContainer">
                                            <strong><div th:text="${book.name}" style="margin-top: 10px"></div></strong>
                                            <strong><h2><div th:text="${book.price}+ '원'"></div></h2></strong>
                                            <div th:text="${book.author}" style="color: light gray;"></div>
                                            <div th:text="${book.publisher}" style="color: light gray;"></div>
                                            <div th:text="${book.department.name}" style="color: light gray;"></div>
                                            <div th:text="${book.subject.name}" style="color: light gray;"></div>
                                        </div>
                                        <button type="button" class="descriptionButton" onclick="showDescription(this)" style="font-size: 30px; margin: 10px; width: 80px;">설명</button>
                                        <div class="descriptionContainer">
                                            <img th:src="${book.imageUrl}" alt="Book Image" style="display: block; margin: 0 auto; height: 200px; width: 150px;">
                                            <strong><div th:text="${book.name}" style="text-align: center; font-size: 24px; margin-bottom: 10px"></div></strong>
                                            <div th:text="${book.description}"></div>
                                        </div>
                                        <div>
                                             <th:block th:each="cart : ${cartList}">
                                                <div th:if="${cart.book.id eq book.id}">
                                                    <span th:text="${cart.id}" class="cartId" style="display: none;"></span>
                                                    <button type="button" class="removeBtn" th:id="'removeBtn' + ${cart.id}" th:text="'제거'" onclick="removeCartItem(this)" style = "font-size: 30px; background-color: red; border-radius: 5px; color: white; border: none; margin: 10px; width: 80px"></button>
                                                </div>
                                            </th:block>
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    </th:block>
                </table>
            </div>
                <div id="mileageContainer">
                    <div class="useablemileage">
                        <strong>사용 가능 마일리지:</strong> <span th:text="${sumpoint}"></span>
                    </div>
                    <input type="text" name="mileagePoint" id="mileagePoint" value="0" placeholder="사용하실 마일리지를 입력하세요">
                    <select name="receiveDay" id="receiveDay" title="receiveDay">
                        <option>수령 날짜 선택</option>
                        <th:block th:each="receive:${receiveDays}">
                            <option th:value="${receive.day}" th:utext="${receive.day}"></option>
                        </th:block>
                    </select>
                        <button type="button" id="buyBtn">구매하기</button>
                </div>
                <input type="hidden" name="books" id="books" value="">
            </form>
        </div>
    </div>
    <div class="page2" style="position: absolute; top: 154px; right: 0; padding: 25px 20px; overflow: hidden; min-height: 800px; width: 20%; display: flex; flex-direction: column; justify-content: space-around">
        <th:block th:insert="~{banner::banner}"></th:block>
    </div>
</div>
<div id="side_drop_down_menu">
    <div style="position:relative;">
        <!-- 헤더 -->
        <div class="side_drop_down_menu_panel_background"
             style="position: fixed; z-index: 100; top: 110px; bottom: 0px; border-right: 1px solid rgb(230, 230, 230); width: 220px; left: 0;">
        </div>
        <div class="side_drop_down_menu_panel"
             style="z-index: 100; position: absolute; border-right: 1px solid rgb(230, 230, 230); border-top: 1px solid rgb(230, 230, 230); width: 211px; background-color: rgb(255, 255, 255); min-height: 45px; left: 0px; top: 101px;">
            <!-- 사이드 네비 -->
            <!--                대시보드-->
            <div class="side_drop_down_menu_panel_button_container" onclick="reload()">
                <div class="side_drop_down_menu_panel_button button inited" style="position: relative; overflow: auto; padding-left: 15px; padding-right: 20px; height: 50px; font-family: notokr-medium, NanumGothicBold; font-size: 15px; border-bottom: 1px solid #ccc;">
                    <div style="padding-top: 14px; float: left; width: 16px; height: 22px; text-align: center; vertical-align: middle; line-height: 22px; padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                        <img src="/images/house.png" style="vertical-align:middle;width:16px; color: #ffffff" alt="top drop down menu text">
                    </div>
                    <a style="float: left; line-height:50px; font-size: 12px;" class="side_drop_down_menu_text">홈</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub" style="background-color:#f2f6fa;display:none;"></div>
            </div>
            <!--                전체 교재 조회-->
            <div class="side_drop_down_menu_panel_button_container" onclick="viewAllBooks()">
                <div class="side_drop_down_menu_panel_button button inited"
                     style=" position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                    <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                        <img src="/images/books.png" style="vertical-align:middle; width:16px; padding-top: 16px" alt="top drop down menu text">
                    </div>
                    <a style="padding-top: 9px; float:left;line-height:32px; font-size:14px;" class="side_drop_down_menu_text">전체 교재</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub"
                     style="background-color:#f2f6fa;display:none;"></div>
            </div>
            <!--                수강신청 내역 조회-->
            <div class="side_drop_down_menu_panel_button_container">
                <div class="side_drop_down_menu_panel_button button inited"
                     style="position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                    <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;" class="side_drop_down_menu_icon">
                        <img src="/images/laptop.png" style="vertical-align:middle;width:16px; padding-top: 15px;" alt="top drop down menu text">
                    </div>
                    <a onclick="webscraping()" style="float:left;line-height:50px; font-size:14px;" class="side_drop_down_menu_text">수강 교재 가져오기</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub"
                     style="background-color:#f2f6fa;display:block;"></div>
            </div>
            <!--                마일리지 내역 조회-->
            <div class="side_drop_down_menu_panel_button_container" onclick="mileage()">
                <div class="side_drop_down_menu_panel_button button inited"
                     style="position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                    <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                         class="side_drop_down_menu_icon"><img
                            src="/images/mileage.png"
                            style="vertical-align:middle;width:16px; padding-top: 15px; color: rgb(0,0,0)" alt="top drop down menu text">
                    </div>
                    <a style="float:left;line-height:50px; font-size:14px;" class="side_drop_down_menu_text">마일리지 내역</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub"
                     style="background-color:#f2f6fa;display:none;"></div>
            </div>
            <!--                구매 내역 조회-->
            <div class="side_drop_down_menu_panel_button_container">
                <div class="side_drop_down_menu_panel_button button inited"
                     style="position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                    <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                         class="side_drop_down_menu_icon"><img
                            src="/images/receipt.png"
                            style="vertical-align:middle;width:16px; padding-top: 15px" alt="top drop down menu text"></div><a
                        style="float:left;line-height:50px; font-size:14px;"
                        class="side_drop_down_menu_text">구매 내역</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub"
                     style="background-color:#f2f6fa;display:none;"></div>
            </div>
            <!--                내 정보 수정-->
            <div class="side_drop_down_menu_panel_button_container" onclick="myInfoUpdate()">
                <div class="side_drop_down_menu_panel_button button inited"
                     style="position:relative;overflow:auto;padding-left:15px;padding-right:20px;height:50px;color:#696969;font-family: notokr-medium, NanumGothicBold;font-size:15px; border-bottom: 1px solid #ccc;">
                    <div style="float: left; width: 16px; height: 50px; text-align: center; vertical-align: middle;  padding-right: 12px; display: block;"
                         class="side_drop_down_menu_icon"><img
                            src="/images/myinfo.png"
                            style="vertical-align:middle;width:16px; padding-top: 15px" alt="top drop down menu text"></div><a
                        style="float:left;line-height:50px; font-size:14px;"
                        class="side_drop_down_menu_text">내 정보 수정</a>
                </div>
                <div class="side_drop_down_menu_panel_button_sub"
                     style="background-color:#f2f6fa;display:none;"></div>
            </div>
            <div class="side_drop_down_menu_panel_button_sub" style="background-color:#f2f6fa;display:none;">
            </div>
        </div>
    </div>
</div>
<script th:inline="javascript">
    var userID = /*[[${ID}]]*/ null;
    var authority = /*[[${authority}]]*/ null;
    function showDescription(button) {
        console.log("함수 진입");
        var bookItem = button.closest('.bookItem');
        var imageUrl = bookItem.querySelector('.descriptionContainer');
        var name = bookItem.querySelector('.descriptionContainer');
        var description = bookItem.querySelector('.descriptionContainer');
        var popupWidth = 800;
        var popupHeight = 500;
        var left = (window.innerWidth - popupWidth) / 2;
        var top = (window.innerHeight - popupHeight) / 2;
        var popup = window.open('', 'descriptionPopup', 'width=' + popupWidth + ',height=' + popupHeight + ',left=' + left + ',top=' + top + ',scrollbars=yes,resizable=no');
        popup.document.body.innerHTML = description.innerHTML;
    }
</script>
</body>
</html>
