<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org/" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta http-equiv="Expires" content="-1">
    <meta http-equiv="Pragma" content="No-Cache">
    <meta http-equiv="Cache-Control" content="No-Cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width; initial-scale=1.0; maximum-scale=1.0; minimum-scale=1.0;">
    <meta http-equiv="Content-type" content="text/html; charset=UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <link rel="stylesheet" th:href="@{/css/banner.css}">
    <link rel="stylesheet" th:href="@{/css/student/purchase/receipt.css}">
    <script th:src="@{/js/student/receipt.js}"></script>
    <title th:text="${user.name} + '님 환영합니다.'"></title>
</head>
<body>
<th:block th:insert="~{sidedropdownmenu::sidedropdownmenu}"></th:block>
<th:block th:replace="~{header :: header(pageTitle='구매 내역')}"></th:block>
<span id="userID" th:text="${user.id}" style="display: none"></span>
<span class="authority" th:text="${user.authority.id}" style="display: none"></span>
<div class="container">
    <div class="page1">
        <div id="student_info" style="margin-bottom: 30px" class="">
            <div class="tit_content">
                <img src="/images/bar.jpg" alt="bar" class="bar" style="width: 4px; height:20px;">
                <strong style="padding-left: 10px; font-weight: bold;">구매 내역</strong>
            </div>
            <div class="box_s border_r" style="display: inline-block; position: relative; text-align: center;">
                <div style="display: flex; align-items: center; justify-content: center; padding-top: 3%; padding-bottom: 3%">
                    <button id="myinfoImg" type="button" th:if="${not #lists.isEmpty(bookList)}">날짜 변경하기</button>
                    <div style="margin-left: 10px;">
                        <div id="formContainer" style="display: none;">
                            <form id="dateForm" th:action="@{/student/purchase/receipt}" method="POST" enctype="multipart/form-data">
                                <select name="day" id="day" title="day" onchange="submitForm()" style=" width: 132px; height: 32px; margin-top: 6px; margin-bottom: 6px">
                                    <option>수령 날짜 변경</option>
                                    <th:block th:each="receive:${daySelect}">
                                        <option th:value="${receive.day}" th:utext="${receive.day}"></option>
                                    </th:block>
                                </select>
                                <br>
                            </form>
                        </div>
                        <span id="receiveDay" th:text="'수령일 : ' + ${receiveDay}" style="display: block; width: 160px" th:if="${not #lists.isEmpty(bookList)}"></span>
                    </div>
                </div>
            </div>
            <form th:action="@{/student/purchase/book}" id="bookFrm" method="POST" enctype="multipart/form-data">
                <div class="bookList">
                    <table>
                        <th:block th:each="book : ${bookList}">
                            <tr style="display: flex; flex-direction: row; justify-content: space-between; align-items: center; flex-wrap: wrap;">
                                <td style="width: calc(50%-10px); margin-bottom: 20px">
                                    <div class="grid-container" >
                                        <div class="bookItem">
                                            <img th:src="${book.imageUrl}" alt="Book Image" style="height: 200px; width: 150px;">
                                            <div class="textContainer">
                                                <strong><div th:text="${book.name}" style="margin-top: 10px"></div></strong>
                                                <strong><h2><div class="bookPrice" th:text="${book.price}"></div></h2></strong>
                                                <div th:text="${book.author}" style="color: light gray;"></div>
                                                <div th:text="${book.publisher}" style="color: light gray;"></div>
                                                <div th:text="${book.department.name}" style="color: light gray;"></div>
                                                <div th:text="${book.subject.name}" style="color: light gray;"></div>
                                            </div>
                                            <div class="buttonContainer">
                                                <form th:action="@{/student/purchase/receipt}" method="POST" enctype="multipart/form-data">
                                                    <div th:text="${receiveCheck}"></div>
                                                    <div th:text="${receiveDay}"></div>
                                                    <div style="margin-top: 5px"><button id="cancelBtn" type="button" th:value="${book.id}">환불</button></div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </th:block>
                        <th:block th:unless="${not #lists.isEmpty(bookList)}">
                            <div id="noBooksMessage" style="font-size: 32px; white-space: nowrap;">구매하신 교재가 없습니다</div>
                        </th:block>
                    </table>
                </div>
                <input type="hidden" name="books" id="books" value="">
            </form>
        </div>
    </div>
</div>
<th:block th:insert="~{banner::banner}"></th:block>
</body>
<script>
    const formContainer = document.getElementById('formContainer');
    const receiveDaySpan = document.getElementById('receiveDay');
    const myinfoImg = document.getElementById('myinfoImg');

    myinfoImg.addEventListener('click', function() {
        console.log("클릭");
        if (formContainer.style.display === 'none') {
            formContainer.style.display = 'block';
            receiveDaySpan.style.display = 'none';
            myinfoImg.style.display = 'none';
        } else {
            formContainer.style.display = 'none';
            receiveDaySpan.style.display = 'block';
            myinfoImg.style.display = 'inline-block';
        }
    });
    window.onload = function() {
        var receiveDayValue = document.getElementById('receiveDay').innerText;
        var myinfoImg = document.getElementById('myinfoImg');
        if (receiveDayValue === "구매하신 교재가 없습니다.") {
            myinfoImg.style.display = 'none';
        }
    };
    var price = document.querySelectorAll('.bookPrice');
    const formatter = new Intl.NumberFormat('ko-KR', {
        style: 'decimal',
        currency: 'KRW',
        currencyDisplay: 'symbol' // currencyDisplay 속성을 사용하여 통화 기호 대신에 "원"을 사용합니다.
    });
    price.forEach(price => {
        const formattedValue = formatter.format(price.innerText);
        price.innerText = formattedValue + '원';
    })

    var userIDElement = document.getElementById("userID");
    var userID = userIDElement.textContent.trim();
    function openPopup() {
        // 팝업과 배경 레이어 표시
        document.getElementById('popup').style.display = 'block';
        document.getElementById('overlay').style.display = 'block';
    }

    function closePopup() {
        // 팝업과 배경 레이어 숨김
        document.getElementById('popup').style.display = 'none';
        document.getElementById('overlay').style.display = 'none';
    }

    function checkPopupStatus() {
        // 페이지 로드 시 팝업 상태를 확인하여 필요에 따라 팝업을 열거나 닫습니다.
        if (getCookie("hidePopup") !== "true") {
            openPopup();
        }
    }

    function getCookie(name) {
        var cookieArr = document.cookie.split(";");
        for (var i = 0; i < cookieArr.length; i++) {
            var cookiePair = cookieArr[i].split("=");
            if (name === cookiePair[0].trim()) {
                return decodeURIComponent(cookiePair[1]);
            }
        }
        return null;
    }

    document.addEventListener("DOMContentLoaded", function () {
        // 이미지에 hover하면 덧씌울 이미지와 장바구니 추가 문자열을 보여줍니다.
        var bookImageContainers = document.querySelectorAll('.bookImageContainer');
        bookImageContainers.forEach(function (container) {
            var overlayImage = container.querySelector('.overlayImage');
            var addToCartText = container.querySelector('.addToCartText');
            container.addEventListener('mouseenter', function () {
                overlayImage.style.display = 'block';
                addToCartText.style.display = 'block';
            });
            container.addEventListener('mouseleave', function () {
                overlayImage.style.display = 'none';
                addToCartText.style.display = 'none';
            });
        });
    });
    function redirectToCart(element) {
        var bookID = element.parentNode.querySelector(".bookID").textContent;
        var queryString = "?bookID=" + encodeURIComponent(bookID);
        // /cart 엔드포인트로 리디렉션
        window.location.href = "/cart" + queryString;
    }
    function submitForm() {
        var xhr = new XMLHttpRequest();
        xhr.open("POST", "/student/purchase/receipt", true);
        xhr.setRequestHeader("Content-Type", "application/x-www-form-urlencoded");
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    window.location.reload(); // 페이지 새로고침
                } else {
                    // 오류 처리
                    console.error('Error:', xhr.status);
                }
            }
        };

        var formData = new FormData(document.getElementById("dateForm"));
        var serializedData = [];
        for (var pair of formData.entries()) {
            serializedData.push(encodeURIComponent(pair[0]) + "=" + encodeURIComponent(pair[1]));
        }
        serializedData = serializedData.join("&");

        xhr.send(serializedData);
    }

    function webscraping() {
        // 추가된 alert 메시지
        alert("수강 교재 정보를 가져오겠습니다.\n웹페이지를 닫지 말고 완료 메시지를 기다려주세요.\n확인을 누르시면 시작합니다.");

        // AJAX 요청 보내기
        var xhr = new XMLHttpRequest();
        xhr.open("GET", "/webscraping/" + userID, true);
        document.body.style.pointerEvents = "none";
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4 && xhr.status === 200) {
                alert("수강 신청 정보 수집이 완료되었습니다!");
                document.body.style.pointerEvents = "auto";
                location.reload();
            }
        };
        xhr.send();
    }
    // 필터링 함수
    function filterBooks() {
        var selectedDepartment = document.getElementById('department').value;
        var books = document.getElementsByClassName('book');

        // 전체를 선택했을 경우 모든 책을 보여줌
        if (selectedDepartment === 'all') {
            for (var i = 0; i < books.length; i++) {
                books[i].style.display = 'block';
            }
            return;
        }

        // 선택된 학과에 해당하는 책만 보여줌
        for (var i = 0; i < books.length; i++) {
            var bookDepartment = books[i].querySelector('strong:nth-of-type(2)').innerText;
            if (bookDepartment.trim() === selectedDepartment.trim()) {
                books[i].style.display = 'block';
            } else {
                books[i].style.display = 'none';
            }
        }
    }
    function viewAllBooks() {
        window.location.href = "/home/studentAllBook";
    }

    window.onload = function() {
        var buttons = document.querySelectorAll('.side_drop_down_menu_panel_button');
        var homeButton = null;

        buttons.forEach(function(button) {
            var text = button.querySelector('.side_drop_down_menu_text');
            var icon = button.querySelector('.side_drop_down_menu_icon img');

            if (text.textContent.trim() === '구매 내역') {
                homeButton = button;
                button.style.backgroundColor = 'rgb(0, 54, 121)';
                text.style.color = '#ffffff';
                icon.style.filter = 'brightness(0) invert(1)';
            }

            button.addEventListener('click', function() {
                buttons.forEach(function(btn) {
                    btn.style.backgroundColor = '';
                    btn.querySelector('.side_drop_down_menu_text').style.color = '';
                    btn.querySelector('.side_drop_down_menu_icon img').style.filter = '';
                });

                this.style.backgroundColor = 'rgb(0, 54, 121)';

                this.classList.add('selected');

                this.querySelector('.side_drop_down_menu_text').style.color = '#ffffff';

                this.querySelector('.side_drop_down_menu_icon img').style.filter = 'brightness(0) invert(1)';
            });
        });
    };

    function reload() {
        window.location.href = "/home/student";
    }

    function myInfoUpdate() {
        var authorityElement = document.querySelector('.authority');
        console.log(authorityElement);
        if (authorityElement) {
            var authority = parseInt(authorityElement.textContent); // 요소의 내용을 정수형으로 변환하여 가져옴
            console.log(authority);
            // 내 정보 수정 페이지로 이동하는 로직 작성
            if (authority === 1) {
                window.location.href = "/mypage/myInfoUpdate/student";
            } else if (authority === 2) {
                window.location.href = "/mypage/myInfoUpdate/bookStore";
            }
        }
    }
    function mileage() {
        // "마일리지 내역 조회" 버튼 클릭 시 "/mypage/mileage"로 이동
        window.location.href = "/mypage/mileage/" + userID;
    }

    function receipt() {
        window.location.href = "/student/purchase/receipt";
    }
</script>
</html>
