pre {
    white-space: pre-wrap;
}

.tit_content {
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    color: #5d5d5d;
    position: relative;
    height: 20px;
    margin-bottom: 40px;
    font-size: 20px;

}

.container {
    display: flex;
    justify-content: space-between;
    /* Adjust spacing between page1 and page2 */
    flex-direction: column;
}

.side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_panel_button {
    background: rgb(0, 54, 121);
}

.side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_text {
    color: #ffffff; /* 텍스트의 색상을 하얀색으로 변경 */
}

.side_drop_down_menu_panel_button_container:hover .side_drop_down_menu_icon img {
    filter: brightness(0) invert(1);
}

.pagination {
    margin-top: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;
    margin: 0 4px;
}

.pagination a.active {
    background-color: rgb(0, 54, 121);
    color: white;
    border: 1px solid rgb(0, 54, 121);
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

* {
    font-family: "Pretendard-Regular", serif;
}

.page1 {
    position: absolute;
    top: 154px;
    left: 221px;
    right: 0;
    padding: 25px 20px;
    overflow: hidden;
    min-height: 800px;
    width: 800px;
    flex-direction: column;
    justify-content: space-around;
}

.triton_panel triton_responsive {
    margin-top: 10px;
    border-top: 2px solid rgb(8, 72, 151);
    position: relative;
    overflow-x: auto;
}
@media(min-width: 768px) and (max-width: 1280px) {
    .triton_content {
        width: 768px;
        min-height: 495px;
    }

    .mileageBox {
        width: 768px;
        border-collapse: separate;
        vertical-align: middle;
        border-left: 1px solid rgb(225, 225, 225);
        border-right: 1px solid rgb(225, 225, 225);
        border-bottom: 1px solid rgb(225, 225, 225);
    }

    .mileageList {
        vertical-align: middle;
        text-align: center;
        line-height: 18px;
        background-color: rgb(255, 255, 255);
        color: rgb(8, 72, 151);
        font-size: 13px;
        height: 40px;
    }

    .mileageDay {
        width: 400px;
        vertical-align: middle;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        background-color: rgb(255, 255, 255);
    }

    .mileageDay_content {
        text-align: center;
        vertical-align: middle;
        height: 40px;
        max-height: 45px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-right: 1px solid rgb(225, 225, 225);
    }

    .mileagePoint {
        width: 200px;
        vertical-align: middle;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        background-color: rgb(255, 255, 255);
    }

    .mileagePoint_content {
        text-align: center;
        vertical-align: middle;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-right: 1px solid rgb(225, 225, 225);
    }

    .kind {
        width: 100px;
        vertical-align: middle;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        background-color: rgb(255, 255, 255);
    }

    .kind_content {
        text-align: center;
        vertical-align: middle;
        height: 40px;
        padding-top: 2px;
        padding-bottom: 2px;
        border-bottom: 1px solid rgb(225, 225, 225);
        border-right: 1px solid rgb(225, 225, 225);
    }
}
.triton_content {
    width: 100%;
    min-height: 495px;
}

.mileageBox {
    width: 100%;
    border-collapse: separate;
    vertical-align: middle;
    border-left: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
    border-bottom: 1px solid rgb(225, 225, 225);
}

.mileageList {
    vertical-align: middle;
    text-align: center;
    line-height: 18px;
    background-color: rgb(255, 255, 255);
    color: rgb(8, 72, 151);
    font-size: 13px;
    height: 40px;
}

.mileageDay {
    width: 400px;
    vertical-align: middle;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
}

.mileageDay_content {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    max-height: 45px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}

.mileagePoint {
    width: 200px;
    vertical-align: middle;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
}

.mileagePoint_content {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}

.kind {
    width: 100px;
    vertical-align: middle;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    background-color: rgb(255, 255, 255);
}

.kind_content {
    text-align: center;
    vertical-align: middle;
    height: 40px;
    padding-top: 2px;
    padding-bottom: 2px;
    border-bottom: 1px solid rgb(225, 225, 225);
    border-right: 1px solid rgb(225, 225, 225);
}
