<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>서점 메인 페이지</title>
    <style>
        table {
            margin: auto;
        }

        th, td {
            border: 1px solid black;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
<th:block th:insert="~{header::header}"></th:block>
<br><br>
<th:block th:insert="~{storenav::navfrag}"></th:block>
<br><br><br>
<table border="1">
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td>
                <img th:src="${book.imageUrl}" alt="Book Image" width="280" height="350"/>
            </td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td>
                <span>판매 순위: </span>
                <span th:text="${iterStat.index + 1 + '위'}"></span>
                <span> (</span>
                <span th:text="${countList[iterStat.index]}"></span>
                <span>권 )</span>
            </td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td>
                <span>서명: </span>
                <span th:text="${book.name}"></span>
            </td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td>
                <span>가격: </span>
                <span th:text="${book.price}"></span>
                <span> 원</span>
            </td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td>
                <span>저자: </span>
                <span th:text="${book.author}"></span>
            </td>
        </th:block>
    </tr>
</table>
</body>
</html>