<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>서점 메인 페이지</title>
    <style>
        table {
            margin: auto;
        }

        td {
            padding: 50px;
            text-align: left;
        }
    </style>
</head>
<body>
<th:block th:insert="~{header::header}"></th:block>
<br><br>
<th:block th:insert="~{storenav::navfrag}"></th:block>
<br><br><br>
<table>
    <tr>
        <th:block th:each="book, iterStat : ${bookList}">
            <td style="position: relative;">
                <img th:src="@{/images/__${iterStat.index + 1}__.png}" alt="Number" style="position: absolute; top: -20px; left: 10px; width: 90px; height: 75px;"/>
                <img th:src="${book.imageUrl}" alt="Book Image" width="280" height="350"/>
                <br>
                <span>판매 순위: </span>
                                <span th:text="${iterStat.index + 1 + '위'}"></span>
                                <span> (</span>
                                <span th:text="${countList[iterStat.index]}"></span>
                                <span>권 )</span>
                <span style="display: block;">서명: <span th:text="${book.name}"></span></span>
                <span style="display: block;">가격: <span th:text="${book.price}"></span> 원</span>
                <span style="display: block;">저자: <span th:text="${book.author}"></span></span>
            </td>
        </th:block>
    </tr>
</table>
<footer>
    <p>&copy; 남서울 대학교 캡스톤디자인 트레인팀</p>
</footer>
</body>
</html>