<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Book List</title>
    <style>
        table {
            margin: auto;
        }
    </style>
</head>
<body>
<th:block th:insert="~{/header::header}"></th:block>
<br><br>
<th:block th:insert="~{/nav::nav}"></th:block>
<br><br><br>
<!--Controller에서 thymeleaf로 받은 BookList를 th반복문으로 출력-->
<table border="1">
    <tr>
        <th:block th:each="book : ${bookList}">
            <td>
                <img th:src="${book.imageUrl}" alt="Book Image" width="280" height="350"/>
            </td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book : ${bookList}">
            <td th:text="${book.name}">Name</td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book : ${bookList}">
            <td th:text="${book.author}">Author</td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book : ${bookList}">
            <td th:text="${book.publisher}">Publisher</td>
        </th:block>
    </tr>
    <tr>
        <th:block th:each="book : ${bookList}">
            <td th:text="${book.price}">Price</td>
        </th:block>
    </tr>
</table>
<thead>
</thead>
<tbody>


</tbody>
</body>
</html>