<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/user/login.css}">
    <title>Login</title>
    <style>
        footer {
            background-color: #f2f2f2;
            padding: 10px;
            position: absolute;
            bottom: 0;
            width: 100%;
            text-align: center;
        }
    </style>
</head>

<body>

    <div class="login-wrapper">
        <h1>남서울대학교 대학서점 로그인/회원가입</h1>
        <a id="kakaoLogin" th:href="@{|${kakaoUrl}|}" class="btn btn-secondary active" role="button"></a>
    </div>

</body>
</html>