<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/user/register.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user/register.css}">
    <title>Document</title>
</head>

<body>
    <div class="container">
        <h1>회원가입 페이지</h1>
        <form th:action="@{/user/register}" class="register" id="register" method="POST">
            <div id="radio-wrap">
                <label>
                    <input type="radio" class="kind" name="kind" value="student" checked>
                    학생
                </label>

                <label>
                    <input type="radio" class="kind" name="kind" value="bookStore">
                    서점
                </label>
            </div>
            <div class="student-container ">
                <div class="info">
                    <label>LMS ID</label>
                    <input class="infoInput" type="text" id="LMSID" name="LMSID" placeholder="LMS 아이디를 입력하세요."
                        th:value="${LMSID}">
                </div>

                <div class="info">
                    <label>LMS PW</label>
                    <input class="infoInput" type="password" id="LMSPW" name="LMSPW" placeholder="LMS 비밀번호를 입력하세요.">
                </div>
            </div>
            <div class="bookStore-container hidden">
                <div class="info">
                    <label>가맹점 ID</label>
                    <input class="infoInput" type="text" id="publisherId" name="publisherId"
                        placeholder="가맹점 아이디를 입력하세요.">
                </div>
            </div>

            <button type="button" onclick="LMS계정확인()">LMS 계정 확인</button>
            <input type="hidden" id="ver" value="">
            <button type="button" onclick="회원가입()" id="regBtn">회원가입 하기</button>
        </form>
    </div>
    <script>
        function 회원가입() {
            var v = document.getElementById("ver").value;
            var frm = document.getElementById("register");
            if (v === "t") {
                frm.submit();
            }
            else {
                alert("LMS 계정 확인을 마쳐주세요.")
            }
        }
        function LMS계정확인() {
            // 사용자가 입력한 ID와 PW 가져오기
            var lmsId = document.getElementById("LMSID").value;
            var lmsPw = document.getElementById("LMSPW").value;
            var v = document.getElementById("ver");
            // AJAX를 통해 서버로 데이터 전송
            $.ajax({
                type: "GET",
                url: "/verification", // 서버의 엔드포인트 경로
                data: {
                    id: lmsId,
                    pw: lmsPw
                },
                success: function (result) {
                    // 서버로부터의 응답을 처리하는 코드
                    if (result) {
                        alert("계정 확인 성공!");
                        v.value = "t"
                    } else {
                        alert("계정 확인 실패!");
                    }
                },
                error: function () {
                    alert("서버 오류 발생!");
                }
            });
        }
    </script>
</body>

</html>