<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script th:src="@{/js/user/register.js}"></script>
    <link rel="stylesheet" th:href="@{/css/user/register.css}">
    <title>Document</title>
</head>

<body>
    <h1>회원가입 페이지</h1>



    <form th:action="@{/user/register}" class="student" id="student" method="POST">
        <label>
            <input type="radio" name="kind" value="student" checked>
            학생
        </label>

        <label>
            <input type="radio" name="kind" value="bookStore">
            서점
        </label>
        <div class="student-container">
            <div>
                <label>LMS ID</label>
                <input type="text" id="LMSID" name="LMSID" placeholder="LMS 아이디를 입력하세요." th:value="${LMSID}">
            </div>

            <div>
                <label>LMS PW</label>
                <input type="password" id="LMSPW" name="LMSPW" placeholder="LMS 비밀번호를 입력하세요.">
            </div>
        </div>

        <div class="bookStore-container hidden">
            <div>
                <label>가맹점 ID</label>
                <input type="text" id="publisherId" name="publisherId" placeholder="가맹점 아이디를 입력하세요.">
            </div>
        </div>

        <button type="submit">회원가입 하기</button>
    </form>


</body>

</html>